<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Frame name="CUI_OptionsTemplate" parent="UIParent" hidden="true" movable="true" enableMouse="true" virtual="true" toplevel="true">
        <Size x="700" y="300"/>
        <Anchors>
            <Anchor point="CENTER" x="200" y="100"/>
        </Anchors>

        <Layers>
            <Layer level="BACKGROUND" textureSubLevel="-1">
                <Texture parentKey="Background" file="Interface\TutorialFrame\TutorialFrameBackground" horizTile="true" vertTile="true">
                    <Anchors>
                        <Anchor point="TOPLEFT"/>
                        <Anchor point="BOTTOMRIGHT"/>
                    </Anchors>
                </Texture>
            </Layer>
        </Layers>

        <Frames>
            <!-- TOP ROW -->

            <Frame parentKey="Border" inherits="DialogBorderDarkTemplate">
                <Size x="6" y="0"/>
                <Anchors>
                    <Anchor point="TOPLEFT" x="-8" y="8"/>
                    <Anchor point="BOTTOMRIGHT" x="8" y="-8"/>
                </Anchors>
            </Frame>

            <Button parentKey="GeneralButton" inherits="UIPanelButtonTemplate">
                <Size x="50" y="20"/>
                <Anchors>
                    <Anchor point="TOPLEFT" x="5" y="-5"/>
                </Anchors>
                <Layers>
                    <Layer level="OVERLAY">
                        <FontString parentKey="Count" text="General" font="Interface\AddOns\CalippoUI\Fonts\FiraSans-Medium.ttf">
                            <FontHeight>
                                <AbsValue val="10"/>
                            </FontHeight>
                            <Anchors>
                                <Anchor point="CENTER" x="0" y="0"/>
                            </Anchors>
                        </FontString>
                    </Layer>
                </Layers>
            </Button>

            <Button parentKey="UnitFrameButton" inherits="UIPanelButtonTemplate">
                <Size x="80" y="20"/>
                <Anchors>
                    <Anchor point="TOPLEFT" x="55" y="-5"/>
                </Anchors>
                <Layers>
                    <Layer level="OVERLAY">
                        <FontString parentKey="Count" text="Player/Target" font="Interface\AddOns\CalippoUI\Fonts\FiraSans-Medium.ttf">
                            <FontHeight>
                                <AbsValue val="10"/>
                            </FontHeight>
                            <Anchors>
                                <Anchor point="CENTER" x="0" y="0"/>
                            </Anchors>
                        </FontString>
                    </Layer>
                </Layers>
            </Button>

            <Button parentKey="GroupFrameButton" inherits="UIPanelButtonTemplate">
                <Size x="70" y="20"/>
                <Anchors>
                    <Anchor point="TOPLEFT" x="135" y="-5"/>
                </Anchors>
                <Layers>
                    <Layer level="OVERLAY">
                        <FontString parentKey="Count" text="Party/Raid" font="Interface\AddOns\CalippoUI\Fonts\FiraSans-Medium.ttf">
                            <FontHeight>
                                <AbsValue val="10"/>
                            </FontHeight>
                            <Anchors>
                                <Anchor point="CENTER" x="0" y="0"/>
                            </Anchors>
                        </FontString>
                    </Layer>
                </Layers>
            </Button>

            <Button parentKey="CloseButton" inherits="UIPanelCloseButton">
                <Size x="20" y="20"/>
                <Anchors>
                    <Anchor point="TOPRIGHT" x="-5" y="-5"/>
                </Anchors>
            </Button>

            <Button parentKey="ReloadButton" inherits="UIPanelButtonTemplate">
                <Size x="50" y="20"/>
                <Anchors>
                    <Anchor point="TOPRIGHT" x="-40" y="-5"/>
                </Anchors>
                <Layers>
                    <Layer level="OVERLAY">
                        <FontString parentKey="Count" text="Reload" font="Interface\AddOns\CalippoUI\Fonts\FiraSans-Medium.ttf">
                            <FontHeight>
                                <AbsValue val="10"/>
                            </FontHeight>
                            <Anchors>
                                <Anchor point="CENTER" x="0" y="0"/>
                            </Anchors>
                        </FontString>
                    </Layer>
                </Layers>
                <Scripts>
                    <OnClick>
                        ReloadUI()
                    </OnClick>
                </Scripts>
            </Button>

            <!-- OPTIONS -->

            <Frame parentKey="GeneralOptions" inherits="CUI_OptionsGeneralTemplate" hidden="true">
                <Anchors>
                    <Anchor point="TOPLEFT" x="5" y="-40"/>
                    <Anchor point="BOTTOMRIGHT"/>
                </Anchors>
            </Frame>

            <Frame parentKey="UnitFrameOptions" inherits="CUI_OptionsUnitFrameTemplate" hidden="true">
                <Anchors>
                    <Anchor point="TOPLEFT" x="5" y="-40"/>
                    <Anchor point="BOTTOMRIGHT"/>
                </Anchors>
            </Frame>

            <Frame parentKey="GroupFrameOptions" inherits="CUI_OptionsGroupFrameTemplate" hidden="true">
                <Anchors>
                    <Anchor point="TOPLEFT" x="5" y="-40"/>
                    <Anchor point="BOTTOMRIGHT"/>
                </Anchors>
            </Frame>
        </Frames>

        <Scripts>
            <OnLoad>
                self:RegisterForDrag("LeftButton")
            </OnLoad>

            <OnDragStart>
                self:StartMoving()
            </OnDragStart>

            <OnDragStop>
                self:StopMovingOrSizing()
            </OnDragStop>
        </Scripts>
    </Frame>

    <Frame name="CUI_OptionsGeneralTemplate" hidden="true" virtual="true" enableMouse="true">
        <Frames>
            <Slider parentKey="BarAlphaSlider" inherits="MinimalSliderWithSteppersTemplate">
                <Size x="150" y="40"/>
                <Anchors>
                    <Anchor point="TOPLEFT" x="0" y="0"/>
                </Anchors>
            </Slider>

            <CheckButton parentKey="AutoWhisperCheckBox" inherits="ChatConfigCheckButtonTemplate">
                <Size x="20" y="20"/>
                <Anchors>
                    <Anchor point="TOPLEFT" x="0" y="-50"/>
                </Anchors>
                <Scripts>
                    <OnLoad>
                        self:SetChecked(CalippoDB.AutoWhisper)
                        self.tooltip = "Trade Auto Whisper toggle."
                    </OnLoad>
                    <OnClick>
                        if self:GetChecked() then
                            CalippoDB.AutoWhisper = true
                        else
                            CalippoDB.AutoWhisper = false
                        end
                    </OnClick>
                </Scripts>
            </CheckButton>
        </Frames>
    </Frame>

    <Frame name="CUI_OptionsUnitFrameTemplate" hidden="true" virtual="true" enableMouse="true">
        <Frames>
            <Slider parentKey="PlayerFramePosXSlider" inherits="MinimalSliderWithSteppersTemplate">
                <Size x="180" y="40"/>
                <Anchors>
                    <Anchor point="TOPLEFT" x="0" y="0"/>
                </Anchors>
            </Slider>

            <Slider parentKey="PlayerFramePosYSlider" inherits="MinimalSliderWithSteppersTemplate">
                <Size x="180" y="40"/>
                <Anchors>
                    <Anchor point="TOPLEFT" x="230" y="0"/>
                </Anchors>
            </Slider>

            <Slider parentKey="TargetFramePosXSlider" inherits="MinimalSliderWithSteppersTemplate">
                <Size x="180" y="40"/>
                <Anchors>
                    <Anchor point="TOPLEFT" x="0" y="-50"/>
                </Anchors>
            </Slider>

            <Slider parentKey="TargetFramePosYSlider" inherits="MinimalSliderWithSteppersTemplate">
                <Size x="180" y="40"/>
                <Anchors>
                    <Anchor point="TOPLEFT" x="230" y="-50"/>
                </Anchors>
            </Slider>

            <CheckButton parentKey="UnitFrameToggle" inherits="ChatConfigCheckButtonTemplate">
                <Size x="20" y="20"/>
                <Anchors>
                    <Anchor point="BOTTOMLEFT" x="0" y="5"/>
                </Anchors>
                <Scripts>
                    <OnLoad>
                        self:SetChecked(CalippoDB.IsEnabled.UnitFrame)
                        self.tooltip = "Toggle unit frames"
                    </OnLoad>
                    <OnClick>
                        if self:GetChecked() then
                            CalippoDB.IsEnabled.UnitFrame = true
                        else
                            CalippoDB.IsEnabled.UnitFrame = false
                        end
                    </OnClick>
                </Scripts>
            </CheckButton>
        </Frames>
    </Frame>

    <Frame name="CUI_OptionsGroupFrameTemplate" hidden="true" virtual="true" enableMouse="true">
        <Frames>
            <Slider parentKey="PartyFramePosXSlider" inherits="MinimalSliderWithSteppersTemplate">
                <Size x="180" y="40"/>
                <Anchors>
                    <Anchor point="TOPLEFT" x="0" y="0"/>
                </Anchors>
            </Slider>

            <Slider parentKey="PartyFramePosYSlider" inherits="MinimalSliderWithSteppersTemplate">
                <Size x="180" y="40"/>
                <Anchors>
                    <Anchor point="TOPLEFT" x="230" y="0"/>
                </Anchors>
            </Slider>

            <Slider parentKey="RaidFramePosXSlider" inherits="MinimalSliderWithSteppersTemplate">
                <Size x="180" y="40"/>
                <Anchors>
                    <Anchor point="TOPLEFT" x="0" y="-50"/>
                </Anchors>
            </Slider>

            <Slider parentKey="RaidFramePosYSlider" inherits="MinimalSliderWithSteppersTemplate">
                <Size x="180" y="40"/>
                <Anchors>
                    <Anchor point="TOPLEFT" x="230" y="-50"/>
                </Anchors>
            </Slider>

            <CheckButton parentKey="GroupFrameToggle" inherits="ChatConfigCheckButtonTemplate">
                <Size x="20" y="20"/>
                <Anchors>
                    <Anchor point="BOTTOMLEFT" x="0" y="5"/>
                </Anchors>
                <Scripts>
                    <OnLoad>
                        self:SetChecked(CalippoDB.IsEnabled.GroupFrame)
                        self.tooltip = "Toggle group frames"
                    </OnLoad>
                    <OnClick>
                        if self:GetChecked() then
                            CalippoDB.IsEnabled.GroupFrame = true
                        else
                            CalippoDB.IsEnabled.GroupFrame = false
                        end
                    </OnClick>
                </Scripts>
            </CheckButton>
        </Frames>
    </Frame>
</Ui>